* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

canvas {
    background-color: transparent;
    /* background-color: #6c6a6a; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif) */
}

body {
    overflow: hidden;
}

img {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: fit-content;
    min-width: 100%;
}

img::selection {
    background-color: transparent;
}

.canvas-container::selection {
    background-color: transparent;
}

.scr {
    padding: 10px;
    z-index: 1000;
    font-weight: bolder;
    color: #ececec;
    position: absolute;
    width: 200px;
    text-align: center;
    top: 20%;
    font-size: xx-large;
    left: 50%;
    transform: translateX(-50%);
}